body
{
    background-color:#ccccff;
    font-family:"Arial", Gadget, sans-serif;
    font-size: 100%
}

h1, h2, h3, h4
{
    font-family:"Arial Black", Gadget, sans-serif;
}

h1
{
    font-size:500%
}

nav
{
    font-family:"Arial Black", Gadget, sans-serif;
    font-size:150%
}

p{
    margin-left: 200px;
    margin-right: 200px;
}
p b {
    font-family:"Arial Black", Gadget, sans-serif;
}

p#notice {
margin-left: auto;
margin-right: auto;
text-align: center;
width: 40%;
border: 5px solid #ff0000;
margin-top: 50px;
padding: 20px;
font-weight: bold;
} 